In [1]:
import sqlite3

In [2]:
dbcon=sqlite3.connect('my_studentdatabase1.db')

In [3]:
cur=dbcon.cursor()

In [4]:
cur.execute("create table student(id int primary key,name text,age int)")

In [5]:
cur.execute("insert into student (id,name,age) values(1,'Andrew',20)")

dbcon.commit()

In [6]:
cur,execute("insert into student (id,name,age) values(2,'smith',19)")

dbcon.commit()

NameError: name 'execute' is not defined

In [7]:
cur.execute("insert into student (id,name,age) values(2,'smith',19)")

dbcon.commit()

In [8]:
cur.execute("insert into student(id,name,age) values(3,'john',22)")

dbcon.commit()

In [9]:
results=cur.execute("select * from student")

for i in results:
    print(i)

(1, 'Andrew', 20)
(2, 'smith', 19)
(3, 'john', 22)

In [10]:
cur.execute("insert into student values(4,'Lisa',24)")

dbcon.commit()

In [11]:
cur.execute("insert into student values(5,'jack',19),(6,'brain'22)")

dbcon.commit()

print(cur.rowcount," record(s) inserted")

OperationalError: near "22": syntax error

In [12]:
cur.execute("insert into student values(5,'jack',19),(6,'Brain',22)")

dbcon.commit()

print(cur.rowcount," record(s) inserted")

2  record(s) inserted

In [13]:
cur.execute("insert into student values(7,'Williams',24)")

dbcon.commit()

print(cur.rowcount,"record inserted")

1 record inserted

In [14]:
results=cur.executed("select * from student")

for i in results:
    print(i)

AttributeError: 'sqlite3.Cursor' object has no attribute 'executed'

In [15]:
resutls=cur.execute("select * student")

for i in results:
    print(i)

OperationalError: near "student": syntax error

In [16]:
results=cur.execute("select * from student")

for i in results:
    print(i)

(1, 'Andrew', 20)
(2, 'smith', 19)
(3, 'john', 22)
(4, 'Lisa', 24)
(5, 'jack', 19)
(6, 'Brain', 22)
(7, 'Williams', 24)

In [17]:
results=cur.execute("select * from student")

for p in results:
    print(p)

(1, 'Andrew', 20)
(2, 'smith', 19)
(3, 'john', 22)
(4, 'Lisa', 24)
(5, 'jack', 19)
(6, 'Brain', 22)
(7, 'Williams', 24)

In [18]:
results=cur.execute("select id from student")

for p in results:
    print(p)

(1,)
(2,)
(3,)
(4,)
(5,)
(6,)
(7,)

In [19]:
results=cur.execute("slect name from student")

for p in results:
    print(p)

OperationalError: near "slect": syntax error

In [20]:
results=cur.execute("select name from student")

for p in results:
    print(p)

('Andrew',)
('smith',)
('john',)
('Lisa',)
('jack',)
('Brain',)
('Williams',)

In [21]:
results=cur.execute("select age from student")

for p in results:
    print(p)

(20,)
(19,)
(22,)
(24,)
(19,)
(22,)
(24,)

In [22]:
results=cur.execute("select * form student")

for p in rsults:
    print(p)

OperationalError: near "form": syntax error

In [23]:
results=cur.execute("select * from student")

for p in results:
    print(p)

(1, 'Andrew', 20)
(2, 'smith', 19)
(3, 'john', 22)
(4, 'Lisa', 24)
(5, 'jack', 19)
(6, 'Brain', 22)
(7, 'Williams', 24)

In [24]:
results=cur.execute("select * from student where id=1")

for p in results:
    print(p)

(1, 'Andrew', 20)

In [30]:
results=cur.execute("select id,name from student where id=1")

for p in results:
    print(p)

(1, 'Andrew')

In [25]:
results=cur.execute("select * from student where id=2")

for p in results:
    print(p)

(2, 'smith', 19)

In [26]:
results=cur.execute("select * from student where id=3")

for p in results:
    print(p)

(3, 'john', 22)

In [27]:
results=cur.execute("select id,name from student")

for p in results:
    print(p)

(1, 'Andrew')
(2, 'smith')
(3, 'john')
(4, 'Lisa')
(5, 'jack')
(6, 'Brain')
(7, 'Williams')

In [28]:
results=cur.execute("select name,age from student")

for p in results:
    print(p)

('Andrew', 20)
('smith', 19)
('john', 22)
('Lisa', 24)
('jack', 19)
('Brain', 22)
('Williams', 24)

In [29]:
results=cur.execute("select id,age from student")

for p in results:
    print(p)

(1, 20)
(2, 19)
(3, 22)
(4, 24)
(5, 19)
(6, 22)
(7, 24)

In [31]:
results=cur.execute("select * from student")

for p in results:
    print(p)

(1, 'Andrew', 20)
(2, 'smith', 19)
(3, 'john', 22)
(4, 'Lisa', 24)
(5, 'jack', 19)
(6, 'Brain', 22)
(7, 'Williams', 24)

In [32]:
results=cur.execute("select * from student where name='smith'")

for p in results:
    print(p)

(2, 'smith', 19)

In [35]:
results=cur.execute("select * from student where name='jack'")

for p in results:
    print(p)

(5, 'jack', 19)

In [36]:
results=cur.execute("select * from student ")

for p in results:
    print(p)

(1, 'Andrew', 20)
(2, 'smith', 19)
(3, 'john', 22)
(4, 'Lisa', 24)
(5, 'jack', 19)
(6, 'Brain', 22)
(7, 'Williams', 24)

In [37]:
results=cur.execute("select * from student where age=19 ")

for p in results:
    print(p)

(2, 'smith', 19)
(5, 'jack', 19)

In [38]:
results=cur.execute("select * from student where age=20")

for p in results:
    print(p)

(1, 'Andrew', 20)

In [39]:
results=cur.execute("select * from student where age=22")

for p in results:
    print(p)

(3, 'john', 22)
(6, 'Brain', 22)

In [40]:
results=cur.execute("select * from student where age=22")

for p in results:
    print(p)

(4, 'Lisa', 24)
(7, 'Williams', 24)

In [41]:
results=cur.execute("select * from student where age>22")

for p in results:
    print(p)

(4, 'Lisa', 24)
(7, 'Williams', 24)

In [42]:
results=cur.execute("select * from student where age<20")

for p in results:
    print(p)

(2, 'smith', 19)
(5, 'jack', 19)

In [43]:
results=cur.execute("select name,age from student where age<20")

for p in results:
    print(p)

('smith', 19)
('jack', 19)