REFERENTIAL INTEGRITY

In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("D:/KN E D/DS/MySQLite_DataBase/student_course_database.db")

In [3]:
cur=db.cursor()

constraints...
unique..entry only unique value, no duplicate values
not null..no blank values can be inserted in tables

In [4]:
cur.execute("create table course(courseid int primary key,coursename text,duration int)")

In [5]:
cur.execute("create table student(roll_no int primary key,studentname text,age int,courseid int,foreign key(courseid) references course(courseid))")

In [6]:
cur.execute("insert into course values(78,'Data science',12),(56,'Python course',4),(101,'database',7)")

print(cur.rowcount,"record(s) inserted")

db.commit;

3 record(s) inserted

In [7]:
cur.execute("insert into student values(1,'Jack',22,78),(2,'John',21,56),(3,'Rudolf',18,78),(4,'Jim',21,56)")

print(cur.rowcount,"record(s) inserted")

db.commit;

4 record(s) inserted

In [8]:
results=cur.execute('select * from course')

resuts.fetchall()

NameError: name 'resuts' is not defined

In [9]:
results=cur.execute('select * from course')

results.fetchall()

[(78, 'Data science', 12), (56, 'Python course', 4), (101, 'database', 7)]

In [10]:
results=cur.execute('select * from student')

results.fetchall()

[(1, 'Jack', 22, 78),
 (2, 'John', 21, 56),
 (3, 'Rudolf', 18, 78),
 (4, 'Jim', 21, 56)]

In [11]:
results=cur.execute('select courseid form course where coursename="data science"')

for i in results:
    print(i)

OperationalError: near "course": syntax error

In [12]:
results=cur.execute('select courseid from course where coursename="data science"')

for i in results:
    print(i)

In [ ]:
executed but in syntex Datascience insted data science

In [13]:
results=cur.execute('select courseid from course where coursename="Data science"')

for i in results:
    print(i)

(78,)

Subquery

In [16]:
results=cur.execute('select * from student where courseid=(select courseid from course where coursename="Data science")')

for i in results:
    print(i)

(1, 'Jack', 22, 78)
(3, 'Rudolf', 18, 78)

In [18]:
results=cur.execute('select * from student where courseid=(select courseid from course where coursename="Python course")')

for i in results:
    print(i)

(2, 'John', 21, 56)
(4, 'Jim', 21, 56)

INNER JOIN

In [19]:
sql = "SELECT student.roll_no, studentname, course.courseid, course.coursename FROM student INNER JOIN course ON student.courseid = course.courseid"
results = cur.execute(sql)
for row in results:
    print(row)

(1, 'Jack', 78, 'Data science')
(2, 'John', 56, 'Python course')
(3, 'Rudolf', 78, 'Data science')
(4, 'Jim', 56, 'Python course')

In [20]:
sql = "SELECT student.roll_no, studentname, course.courseid, course.coursename FROM student LEFT JOIN course ON student.courseid = course.courseid"
results = cur.execute(sql)
for row in results:
    print(row)

(1, 'Jack', 78, 'Data science')
(2, 'John', 56, 'Python course')
(3, 'Rudolf', 78, 'Data science')
(4, 'Jim', 56, 'Python course')

In [21]:
sql = "SELECT student.roll_no, studentname, course.courseid, course.coursename FROM student RIGHT JOIN course ON student.courseid = course.courseid"
results = cur.execute(sql)
for row in results:
    print(row)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [22]:
sql = "SELECT student.roll_no, studentname, course.courseid, course.coursename FROM student LEFT JOIN student ON student.courseid = course.courseid"
results = cur.execute(sql)
for row in results:
    print(row)

OperationalError: ambiguous column name: student.roll_no

right the above commend correctly

In [23]:
 sql = "SELECT student.roll_no, studentname, course.courseid, course.coursename FROM course LEFT JOIN student ON student.courseid = course.courseid"
results = cur.execute(sql)
for row in results:
    print(row)

(1, 'Jack', 78, 'Data science')
(3, 'Rudolf', 78, 'Data science')
(2, 'John', 56, 'Python course')
(4, 'Jim', 56, 'Python course')
(None, None, 101, 'database')

RIGHT and FULL OUTER JOINs are not currently supported in Sqlite3