In [1]:
import sqlite3

In [2]:
db=sqlite3.connect('my_studentdatabse3.db')

In [3]:
cur=db.cursor()

In [4]:
cur.execute("create table student(id int primary key,name text,marks int)")

In [5]:
cur.execute("insert into student (id,name,marks) values(1,'John',90)")

db.commit()

In [6]:
cur.execute("insert into student (id,name,marks) values(1,'Teena',90)")

db.commit()

IntegrityError: UNIQUE constraint failed: student.id

In [7]:
cur.execute("insert into student (id,name,marks) values(2,'Teena',90)")

db.commit()

In [8]:
cur.execute("insert into student (id,name,marks) values(3,'Rena',90)")

db.commit()

In [9]:
results=cur.execute("select * from student")

for i in results:
    print(i)

(1, 'John', 90)
(2, 'Teena', 90)
(3, 'Rena', 90)