Adding data in tables with csv(comma separated values) files directly

In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("D://MySQLite_DataBase/Scores_database.db")

#Declare cursor
Cursor = db.cursor()

OperationalError: unable to open database file

In [4]:
db=sqlite3.connect("D:/KN E D/DS/MySQLite_DataBase/Scores_database.db")

#Declare cursor
Cursor = db.cursor()

In [5]:
#create table
Cursor.execute("CREATE TABLE scores(gender Text, student_id INT PRIMARY KEY, marks INT)")

Inserting record from csv files

Creating larger number of id you will use Notepad/excel- In Notepad saveas file as Score_file.csv in save as Type -all files & Using in excel you will file name as- Score_file Save as type-CSV(Comma delimited)

In [6]:
with open('Scores_file.csv','r') as file:
    total_records=0
    for row in file:
        cursor.execute("insert into scores values(?,?,?)",row.split(","))
        db.commit()
        total_records+=1
        print(total_records,'records inserted')

NameError: name 'cursor' is not defined

In [7]:
with open('Scores_file.csv','r') as file:
    total_records=0
    for row in file:
        Cursor.execute("insert into scores values(?,?,?)",row.split(","))
        db.commit()
        total_records+=1
        print(total_records,'records inserted')

1 records inserted
2 records inserted
3 records inserted
4 records inserted
5 records inserted
6 records inserted
7 records inserted
8 records inserted
9 records inserted
10 records inserted
11 records inserted
12 records inserted

In [ ]:
Score_fiel.csv is file name, r is read mode,

In [8]:
result=Cursor.execute("select * FROM SCORES")
for roe in results:
    print(row)

NameError: name 'results' is not defined

In [9]:
result=Cursor.execute("select * FROM SCORES")
for row in results:
    print(row)

NameError: name 'results' is not defined

In [10]:
results=Cursor.execute("select * FROM SCORES")
for row in results:
    print(row)

('Male', 104, 56)
('Male', 105, 78)
('Female', 106, 36)
('Male', 107, 20)
('Female', 108, 98)
('Male', 109, 85)
('Female', 110, 69)
('Male', 111, 46)
('Female', 112, 46)
('Male', 113, 91)
('Male', 114, 48)
('Male', 115, 56)